{% extends "base.html" %}
{% block title %}Home Page{% endblock title %}
{% block content %}
<h2>The books list</h2>
    <table class="table table-bordered">
        <thead style="background-color:#3D9970;">
        <th scope="col">ISBN</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Year</th>
        </thead>
        {% for book in books %}
            <tr>
                <td>{{ book.isbn }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.year }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}